.blog-post-repeater {
	.inner-container {
		display: flex;
		justify-content: space-between;

		.post {
			width: 390px;
			max-width: 100%;
			
			.post-title {
				line-height: 28px;
			}

			.post-date {
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
}