.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navigation {
	width: 100%;
	position: fixed;
	background-color: transparent;
	z-index: 10;
	padding: 20px 50px;
	.company-logo {
		background-size: contain;
		height: 70px;
		width: 300px;
		background-position: center left;
		background-repeat: no-repeat;
		z-index: 6;
	}
	.nav-primary li {
		margin-left: 50px;
		a {
			color: #fff;
			text-decoration: none;
		}
		a:hover {
			
		}
	}
}
