.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navigation {
	width: 100%;
	position: fixed;
	background-color: transparent;
	z-index: 10;
	padding: 20px 50px;
	transition: all .15s linear;
	.company-logo {
		background-size: contain;
		height: 70px;
		width: 300px;
		background-position: center left;
		background-repeat: no-repeat;
		z-index: 6;
	}
	.nav-primary li {
		margin-left: 50px;
		a {
			text-decoration: none;
			padding: 10px 0;
			position: relative;
		}
		a, a::after {
            transition: all .5s;
        }
		a::after {
			content: '';
			position: absolute;
			width: 0%;
			height: 2px;
			left: 0;
			bottom: 0;
			background-color: $a;
			border-radius: 2px;
		}
		a:hover {
			color: $a;
		}
		a:hover:after {
			width: 100%;
		}
		&.current-menu-item {
            a::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				bottom: 0;
				background-color: $a;
				border-radius: 2px;
            }
          }
	}
	&.white-header {
		background-color: #fff;
		box-shadow: 0 3px 8px rgba($color: #000000, $alpha: .3);
		.nav-primary li {
			a {
				color: $headline;
			}
			&.current-menu-item {
				a::after {
					background-color: $headline;
				}
			}
		} 
		.nav-primary li a:after {
			background-color: $headline;
		}
		
	}
}
